<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="net.koreate.dao.FreeBoardDao">

  <sql id="search">
    <if test="searchType !=null">
      <if test="searchType == 't'.toString()">
        and ftitle like concat('%',#{keyword},'%')
      </if>
      <if test="searchType == 'c'.toString()">
        and fcontent like concat('%',#{keyword},'%')
      </if>
      <if test="searchType == 'w'.toString()">
        and fwriter like concat('%',#{keyword},'%')
      </if>
      <if test="searchType == 'tc'.toString()">
        and ftitle like concat('%',#{keyword},'%')
        or fcontent like concat('%',#{keyword},'%')

      </if>
      <if test="searchType == 'tcw'.toString()">
        and ftitle like concat('%',#{keyword},'%')
        or fcontent like concat('%',#{keyword},'%')
        or fwriter like concat('%',#{keyword},'%')
      </if>
    </if>


  </sql>




  <insert id="register">
    insert into tbl_board_free(ftitle,fcontent,fwriter,mno,mcate)
    values(#{fTitle},#{fContent},#{fWriter},#{mno},#{mcate})
  </insert>

  <select id="listFreeCriteria" resultType="freeBoardVo">

<![CDATA[ select * from tbl_board_free where fno> 0]]>  <include refid="search"></include> order by fno desc limit #{pageStart},#{perPageNum}
<!-- <![CDATA[ SELECT * FROM re_tbl_board   where bno > 0]]> <include refid="search"></include> ORDER BY origin DESC, seq ASC limit #{pageStart},#{perPageNum} -->

  </select>

  <select id="listFreeCount" resultType="int">

<![CDATA[select count(*) from tbl_board_free where fno>0 ]]> <include refid="search"></include>

  </select>

  <select id="readFree" resultType="freeBoardVo">
    select * from tbl_board_free where fno = #{fno}
  </select>

  <update id="modify">

    update tbl_board_free set ftitle=#{fTitle}, fcontent=#{fContent},fupdatedate=now() where fno = #{fNo}

  </update>

  <select id="getPostByfNo" resultType="freeBoardVo">

    select * from tbl_board_free where fno = #{fno}

  </select>

  <delete id="remove">

    delete from tbl_board_free where fno = #{fno}

  </delete>

  <update id="updateCnt">

    update tbl_board_free set fviewcnt = fviewcnt + 1 where fno = #{fno}

  </update>
  
  <update id="recommand">
  
  update tbl_board_free set frecomcnt = frecomcnt + 1 where fno = #{fno}
  
  </update>

<select id="getCommentCnt" resultType="int">

select count(fno) from tbl_comment_free where fno = #{fno}

</select>


</mapper>