<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.MemberDao">

<insert id="signUp">
insert into tbl_member_book(mid,mname,memail,mpassword,mphone,mbirth,mGender,mcate)
values(#{mId},#{mName},#{mEmail},#{mPassword},#{mPhone},#{mBirth},#{mGender},#{mCate})

</insert>

<select id="signIn" resultType ="memberVo">
select * from tbl_member_book where mid=#{mId} and mpassword=#{mPassword}
</select>

<select id="getMemberById" resultType="memberVo">

select mId from tbl_member_book where mId = #{mId}
</select>



<select id="getMemberByMno" resultType="memberVo">

select * from tbl_member_book where mNo = #{mNo}

</select>

<select id="idcheck" parameterType="String" resultType="Integer">

select count(*) from tbl_member_book where mId = #{mId}

</select>

<select id="phonecheck" parameterType="String" resultType="Integer">

select count(*) from tbl_member_book where mPhone = #{mPhone}

</select>

<select id="emailcheck" parameterType="String" resultType="Integer">

select count(*) from tbl_member_book where mEmail = #{mEmail}

</select>



<update id="Modify">

 update tbl_member_book set memail=#{mEmail}, mpassword =#{mPassword} , mphone =#{mPhone}, updatedate=now()
     where mno = #{mNo}

</update>

<select id="listMemberCriteria" resultType="memberVo">

<![CDATA[ select * from tbl_member_book where mno > 0 order by mno desc]]>

</select>

<select id="listMemberCount" resultType="int">

<![CDATA[ select count(*) from tbl_member_book where mno > 0 ]]>

</select>

<delete id="Withdrawal">
delete from tbl_member_book where mno = #{mNo}
</delete>



</mapper>